body {
    font-family: 'Press Start 2P', system-ui;
}

.capitulo {
    border-bottom: 1px solid #5c5c5c;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

img.capitulo {
    width: 32px;
    height: 32px;
    border-bottom: none;
}

a {
    color: white;
}

a:visited {
    color: yellow;
}