body {
    font-family: 'Press Start 2P', system-ui;
}

.capitulo {
    border: 1px solid #5c5c5c;
    /* ajustar pra ficar só ao redor do div */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

img.capitulo {
    width: 32px;
    height: 32px;
}