body {
    font-family: 'Press Start 2P', system-ui;
    color: white;
    background-color: black;
}

.capitulo {
    border-bottom: 1px solid #5c5c5c;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0px;
}

img.capitulo {
    width: 64px;
    height: 64px;
    border-bottom: none;
}

a {

    text-decoration: none;
    flex:1;
    text-align: center;
    color: white;
}

/*
a:visited {
    color: yellow;
}
*/
a:active {
    color: violet;
}

a:hover {
    color: yellow;
}

body.arquivo{
    background-image: url('/imagems/image.png');
            
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    min-height: 100vh;

    margin: 0;
}
p.tempo {
    float: right;
}
div.arquivo{
    margin: 20px auto;
    border: 1px solid white;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
    box-sizing: border-box;
    
}
.linha-superior {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.linha-superior a, .linha-superior p {
    margin: 0; 
    text-align: left; 
}

p.bimestre {
    margin-top: 15px; 
    margin-bottom: 0;
}
.botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: space-around;
    margin: 30px;
    border: unset;
    background: unset;
}
.voltarsprite {
    
    background-image: url('../imagems/sprites/retomar.webp');
    width: 76px; 
    height: 36px;
    background-repeat: no-repeat;
    
}
.mapasprite {
    
    background-image: url('../imagems/sprites/inicio.webp');
    width: 64px; 
    height: 64px;
    background-repeat: no-repeat;
    
}
.avancarsprite {
    
    background-image: url('../imagems/sprites/avancar.webp');
    width: 76px;; 
    height:36px;
    background-repeat: no-repeat;
    
}
.nostyle {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    display: block;       
    margin: 20px auto 0;   
    text-align: center;
}
.videopage {
    background-image: url('../imagems/background.gif');
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.video-container iframe {
    border: 1px solid lime;
}

.text-links {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap:10px;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: 1px solid lime;
    margin: 20% auto
}